@charset "utf-8";

@media (max-width: 1025px) {
	.calculator {
		width: 40%;
	}
	
	.logotop {
		width: 100%;
	}
}

@media (max-width : 725px ) {
	.calculator {
		width: 50%;
	}
}

@media (max-width : 425px ) {
	.calculator {
		width: 60%;
	}
}
